/***************************************************************
 * General
 ***************************************************************/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #2487ce;
  text-decoration: none !important;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/***************************************************************
 * Back to top
 ***************************************************************/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2487ce;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/***************************************************************
 * Preloader
 ***************************************************************/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***************************************************************
 * Disable animation delay on mobile
 ***************************************************************/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/***************************************************************
 * Header
 ***************************************************************/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}
#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#home > div > div:nth-child(1) > div > h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif; 
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #16507b;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/***************************************************************
 * Navigation Menu
 ***************************************************************/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #16507b;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #2487ce;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #2487ce;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #3194db;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #2487ce;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/*************************************************************
 * Mobile Navigation 
 *************************************************************/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #124265;

}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 254, 254, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #2487ce;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #2487ce;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/***************************************************************
 * Home Section
 ***************************************************************/
#home {
    width: 100%;
    padding-top: 20px;
    position: relative;
    background-size: cover;
    position: relative;
  }
  #home #top-title {
    font-size: 56px !important; 
    line-height: 36px !important;
  }

  #home:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #home .container {
    padding-top: 80px;
  }
  #home > .container > .row > .col-lg-8 > h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
  }
  #home h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  #home .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  #home .btn-get-started:hover {
    background: #3194db;
  }
  #home .icon-boxes {
    margin-top: 100px;
  }
  #home .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  #home .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  #home .icon-box .title a {
    color: #124265;
    transition: 0.3s;
  }
  #home .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #home .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  #home .icon-box:hover {
    transform: scale(1.08);
  }
  #home .icon-box:hover .title a {
    color: #2487ce;
  }
  @media (min-width: 1024px) {
    #home {
      background-attachment: fixed;
    }
  }
  @media (max-height: 800px) {
    #home {
      height: auto;
    }
  }
  @media (max-width: 992px) {
    #home {
      height: auto;
    }
    #home #top-title {
      font-size: 28px !important; 
      line-height: 36px !important;
    }
    #home h1 {
      font-size: 20px !important; 
      line-height: 36px !important;
    }
    #home h2 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

/***************************************************************
 * About Section
 ***************************************************************/
  #about {
    width: 100%;
    padding-top: 20px;
    position: relative;
    background-size: cover;
    position: relative;
  }
  #about:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #about .container {
    padding-top: 80px;
  }
  #about > .container > .row > .col-lg-8 > h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
  }
  #about h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  #about .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  #about .btn-get-started:hover {
    background: #3194db;
  }
  #about .icon-boxes {
    margin-top: 100px;
  }
  #about .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  #about .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  #about .icon-box .title a {
    color: #124265;
    transition: 0.3s;
  }
  #about .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #about .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  #about .icon-box:hover {
    transform: scale(1.08);
  }
  #about .icon-box:hover .title a {
    color: #2487ce;
  }
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  @media (max-height: 800px) {
    #about {
      height: auto;
    }
  }
  @media (max-width: 992px) {
    #about {
      height: auto;
    }
    #about h1 {
      font-size: 20px !important;
      line-height: 36px !important;
    }
    #about h2 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

/***************************************************************
 * Links Section
 ***************************************************************/
  #links {
    width: 100%;
    padding-top: 20px;
    position: relative;
    background-size: cover;
    position: relative;
  }
  #links:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #links .container {
    padding-top: 80px;
  }
  #links > .container > .row > .col-lg-8 > h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
  }
  #links h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  #links .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  #links .btn-get-started:hover {
    background: #3194db;
  }
  #links .icon-boxes {
    margin-top: 100px;
  }
  #links .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  #links .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  #links .icon-box .title a {
    color: #124265;
    transition: 0.3s;
  }
  #links .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #links .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  #links .icon-box:hover {
    transform: scale(1.08);
  }
  #links .icon-box:hover .title a {
    color: #2487ce;
  }
  @media (min-width: 1024px) {
    #links {
      background-attachment: fixed;
    }
  }
  @media (max-height: 800px) {
    #links {
      height: auto;
    }
  }
  @media (max-width: 992px) {
    #links {
      height: auto;
    }
    #links h1 {
      font-size: 20px !important;
      line-height: 36px !important;
    }
    #links h2 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

.card {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: #444;
  border: 1px solid #999;
  border-radius: 4px;
  background: #eee;
  padding-top: 30px;
  float: left;
  height: 500px;
}

.card::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-size: 28px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.card > .card-question {
  margin: 20px 0 20px;
  font-size: 120%;
}
.card > .card-separator {
  width: 100%;
  margin: 10px 0 10px 0;
}
.card > a {
  text-decoration: none;
  color: #7f8c8d;
}

.card > .card-content {
  height: 300px;
}

.card-red {
  border-top: 4px solid #e74c3c !important;
}

.card-red::before {
  color: #e74c3c !important;
  content: "\f0c0" !important;
  font-family: "FontAwesome";
  text-align: center;
}
.card-red > .card-separator {
  border: 1px solid #e74c3c !important;
}
  
.card-red > .card-answer-separator {
  border: 1px dotted #e74c3c !important;
}


.card-green {
  border-top: 4px solid #16a085 !important;
}
.card-green::before {
  color: #16a085 !important;
  content: "\f085" !important;
  font-family: "FontAwesome" !important;
  text-align: center;
}
.card-green > .card-separator {
  border: 1px solid #16a085 !important;
}


.card-blue {
  border-top: 4px solid #3194db !important;
}
.card-blue::before {
  color: #3194db !important;
  content: "\f05b" !important;
  font-family: "FontAwesome";
  text-align: center;

}
.card-blue > .card-separator {
  border: 1px solid #3194db !important;
}

  
/***************************************************************
 * Critique Section
 ***************************************************************/
  #critique {
    width: 100%;
    padding-top: 20px;
    position: relative;
    background-size: cover;
    position: relative;
  }
  #critique:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #critique .container {
    padding-top: 80px;
  }
  #critique > .container > .row > .col-lg-8 > h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
  }
  #critique h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  #critique .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  #critique .btn-get-started:hover {
    background: #3194db;
  }
  #critique .icon-boxes {
    margin-top: 100px;
  }
  #critique .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  #critique .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  #critique .icon-box .title a {
    color: #124265;
    transition: 0.3s;
  }
  #critique .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #critique .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  #critique .icon-box:hover {
    transform: scale(1.08);
  }
  #critique .icon-box:hover .title a {
    color: #2487ce;
  }
  @media (min-width: 1024px) {
    #critique {
      background-attachment: fixed;
    }
  }
  @media (max-height: 800px) {
    #critique {
      height: auto;
    }
  }
  @media (max-width: 992px) {
    #critique {
      height: auto;
    }
    #critique h1 {
      font-size: 20px !important;
      line-height: 36px !important;
    }
    #critique h2 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
  

/***************************************************************
 * Footer
 ***************************************************************/
footer {
    background-color: #124265;
    color: #fff;
}

/***************************************************************
 * Collage Section
 ***************************************************************/
 #collage {
  width: 100%;
  padding-top: 20px;
  position: relative;
  background-size: cover;
  position: relative;
}
#collage:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#collage .container {
  padding-top: 80px;
}
#collage > .container > .row > .col-lg-12 > h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}
#collage h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#collage .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}
#collage .btn-get-started:hover {
  background: #3194db;
}
#collage .icon-boxes {
  margin-top: 100px;
}
#collage .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
#collage .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#collage .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}
#collage .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
#collage .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}
#collage .icon-box:hover {
  transform: scale(1.08);
}
#collage .icon-box:hover .title a {
  color: #2487ce;
}
@media (min-width: 1024px) {
  #collage {
    background-attachment: fixed;
  }
}
@media (max-height: 800px) {
  #collage {
    height: auto;
  }
}
@media (max-width: 992px) {
  #collage {
    height: auto;
  }
  #collage h1 {
    font-size: 20px !important;
    line-height: 36px !important;
  }
  #collage h2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

/***************************************************************
 * Mondragon Section
 ***************************************************************/
 #mondragon {
  width: 100%;
  padding-top: 20px;
  position: relative;
  background-size: cover;
  position: relative;
}
#mondragon:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#mondragon .container {
  padding-top: 80px;
}
#mondragon > .container > .row > .col-lg-12 > h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}
#mondragon h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#mondragon .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}
#mondragon .btn-get-started:hover {
  background: #3194db;
}
#mondragon .icon-boxes {
  margin-top: 100px;
}
#mondragon .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
#mondragon .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#mondragon .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}
#mondragon .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
#mondragon .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}
#mondragon .icon-box:hover {
  transform: scale(1.08);
}
#mondragon .icon-box:hover .title a {
  color: #2487ce;
}
@media (min-width: 1024px) {
  #mondragon {
    background-attachment: fixed;
  }
}
@media (max-height: 800px) {
  #mondragon {
    height: auto;
  }
}
@media (max-width: 992px) {
  #mondragon {
    height: auto;
  }
  #mondragon h1 {
    font-size: 20px !important;
    line-height: 36px !important;
  }
  #mondragon h2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

/***************************************************************
 * Employment Section
 ***************************************************************/
 #employment {
  width: 100%;
  padding-top: 20px;
  position: relative;
  background-size: cover;
  position: relative;
}
#employment:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#employment .container {
  padding-top: 80px;
}
#employment > .container > .row > .col-lg-12 > h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}
#employment h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#employment .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}
#employment .btn-get-started:hover {
  background: #3194db;
}
#employment .icon-boxes {
  margin-top: 100px;
}
#employment .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
#employment .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#employment .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}
#employment .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
#employment .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}
#employment .icon-box:hover {
  transform: scale(1.08);
}
#employment .icon-box:hover .title a {
  color: #2487ce;
}
@media (min-width: 1024px) {
  #employment {
    background-attachment: fixed;
  }
}
@media (max-height: 800px) {
  #employment {
    height: auto;
  }
}
@media (max-width: 992px) {
  #employment {
    height: auto;
  }
  #employment h1 {
    font-size: 20px !important;
    line-height: 36px !important;
  }
  #employment h2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}